<header>
  <div class="upper-bar">
    <div class="logo"></div>
    <div class="tools">
      <div class="tools-lang"></div>
      <div class="tools-support"></div>
      <div class="tools-settings"></div>
      <div class="tools-exit"></div>
    </div>
  </div>
  <nav class="menu">
    <ul class="menu-bar">
      <li class="menu-bar_item"><a href="#"><img src="" alt="" /><p>

      </p></a></li>
      <li class="menu-bar_item"><a href="#"><img src="" alt="" /><p>

      </p></a></li>
      <li class="menu-bar_item"><a href="#"><img src="" alt="" /><p>

      </p></a></li>
      <li class="menu-bar_item"><a href="#"><img src="" alt="" /><p>

      </p></a></li>
      <li class="menu-bar_item"><a href="#"><img src="" alt="" /><p>

      </p></a></li>
    </ul>
  </nav>
  <section class="currency_exch">
    <h2 class="currency_heading">Автоматический обмен электронных валют</h2>
    <form action="">
      <ul class="currency_select">
        <li class="currency_select_item">
          <input type="text" placeholder="0,00......">
          <select class="currency-bank giver" name="">
          </select>
          <select class="currency" name="">
          </select>
        </li>
        <li class="currency_select_item" name="">
          <input type="text" placeholder="0,00......">
          <select class="currency-bank receiver" name="">
          </select>
          <select class="currency" name="">
          </select>
        </li>
        <li class="currency_select_item">
          <button type="" name="Обменять валюту"></button>
        </li>
      </ul>
    </form>
    <div class="currency_privat">Приват 24 доступно для обмена 114,09 UAH</div>
    <div class="currency_in_need">Мне нужно больше - сообщите, когда появится</div>
  </section>
  <div class="bonuses-partners">
    <div class="currency_rates"></div>
    <div class="partners"></div>
    <div class="bonuses"></div>
  </div>
</header>
