<section class="how_it_works">
  <h2 class="how_it_works_heading">КАК ЭТО РАБОТАЕТ?</h2>
  <div class="how_container">
    <div class="how_paragraph">
      <p class="paragraph_padding">
        Если вы думаете. что ширина текстовой колонки в вашем блоге это забота вашего веб-дизайнера, то ошибаетесь. Существует оптимальная ширина текстовой колонки блога, и я скажу вам какова она и почему. Нол для начала давайте поговорим о том, какова первая задача, стоящая перед вашим веб-сайтом. Первейшая задача состоит в том, чтобы оюди прочли несколько начальных предложений вашего текста.
      </p>
      <p>
        Специалисты - копирайтеры. такие как Джо Шугарман (Joe Sugarman), давно знают об этом инересном аспекте читательского поведения, теперь об этом узнаете и вы.
        Если Вам удалось сделать так, чтобы потребитель прочел несколько первых предложений статьи на вашем сайте или вашего коммерческого предложения, он с гараздо большей вероятностью дочитает их до конца.
      </p>
      <p>
        Проблема состоит в том, что заставить потребителя прочесть эти первые несколько предложений весьма сложно. Помните, что когда люди заходят на ваш сайт, у вас есть несколько всего секунд, чтобы заинтересовать их. Если вам это не удалось, вы их потеряете. Вот тут то и вступает в игру оптимальная ширина текстовой колонки. При правильной подаче материала вы можете сделать так, чтобы случайные посетители читали вводные предложения вашего текста до конца, а значит с большей долей вероятности дочитывали до конца.
      </p>
    </div>
    <div class="how_paragraph paragraph_padding_top">
      <p>
        Если вы думаете. что ширина текстовой колонки в вашем блоге это забота вашего веб-дизайнера, то ошибаетесь. Существует оптимальная ширина текстовой колонки блога, и я скажу вам какова она и почему. Нол для начала давайте поговорим о том, какова первая задача, стоящая перед вашим веб-сайтом. Первейшая задача состоит в том, чтобы оюди прочли несколько начальных предложений вашего текста.
      </p>
      <p>
        Специалисты - копирайтеры. такие как Джо Шугарман (Joe Sugarman), давно знают об этом инересном аспекте читательского поведения, теперь об этом узнаете и вы.
        Если Вам удалось сделать так, чтобы потребитель прочел несколько первых предложений статьи на вашем сайте или вашего коммерческого предложения, он с гараздо большей вероятностью дочитает их до конца.
      </p>
      <p class="paragraph_padding_bottom">
        Проблема состоит в том, что заставить потребителя прочесть эти первые несколько предложений весьма сложно. Помните, что когда люди заходят на ваш сайт, у вас есть несколько всего секунд, чтобы заинтересовать их. Если вам это не удалось, вы их потеряете. Вот тут то и вступает в игру оптимальная ширина текстовой колонки. При правильной подаче материала вы можете сделать так, чтобы случайные посетители читали вводные предложения вашего текста до конца
      </p>
    </div>
  </div>
<img class="how_border_bottom" src="img/img_border.png" alt="">
</section>
<div class="share_us"><p>ПОДЕЛИТЬСЯ</p>
  <span class="share vk"><a href=""><img src="img/share_vk.png" alt=""></a></span>
  <span class="share fb"><a href=""><img src="img/share_fb.png" alt=""></a></span>
  <span class="share twitter"><a href=""><img src="img/share_twi.png" alt=""></a></span>
  <span class="share google_plus"><a href=""><img src="img/share_google.png" alt=""></a></span>
</div>
<div class="tell_about_us">РАССКАЖИТЕ О НАС
  <span class="tell vk"><a href=""><img src="img/vk_share.png" alt=""></a></span>
  <span class="tell fb"><a href=""><img src="img/fb_share.png" alt=""></a></span>
  <span class="tell twitter"><a href=""><img src="img/twi_share.png" alt=""></a></span>
  <span class="tell google_plus"><a href=""><img src="img/google_share.png" alt=""></a></span>
</div>
<footer>
  <img src="img/footer_menu_border.png" alt="" class="footer_border">
  <nav>
    <ul class="menu-footer-desktop">
      <li class="menu-footer_list"><a href="">ПОДДЕРЖКА</a><img src="img/arrow_footer.png" alt="">
        <ul class="submenu-footer">
        <li class="submenu-footer_list"><a href="#">Тикеты</a></li>
        <li class="submenu-footer_list"><a href="#">Вопросы и ответы</a></li>
        <li class="submenu-footer_list"><a href="#">Инструкция</a></li>
        <li class="submenu-footer_list"><img src="img/bottom_b _footer.png" alt=""></li>
      </ul></li>
      <li class="menu-footer_list"><a href="">ПРОЕКТЫ</a><img src="img/arrow_footer.png" alt="">
        <ul class="submenu-footer">
        <li class="submenu-footer_list"><a href="#">Обмен валют</a></li>
        <li class="submenu-footer_list"><a href="#">Гарант сделок</a></li>
        <li class="submenu-footer_list"><a href="#">Оплата сервисов</a></li>
        <li class="submenu-footer_list"><a href="#">Онлайн ломбард</a></li>
        <li class="submenu-footer_list"><a href="#">База знаний</a></li>
        <li class="submenu-footer_list"><img src="img/bottom_b _footer.png" alt=""></li>
      </ul></li>
      <li class="menu-footer_list"><a href="">КЛИЕНТАМ</a><img src="img/arrow_footer.png" alt="">
        <ul class="submenu-footer">
        <li class="submenu-footer_list"><a href="#">Депозитная программа</a></li>
        <li class="submenu-footer_list"><a href="#">Партнерство</a></li>
        <li class="submenu-footer_list"><a href="#">Бонусная система</a></li>
        <li class="submenu-footer_list"><img src="img/bottom_b _footer.png" alt=""></li>
      </ul></li>
      <li class="menu-footer_list"><a href="">УСЛОВИЯ</a><img src="img/arrow_footer.png" alt="">
        <ul class="submenu-footer">
        <li class="submenu-footer_list"><a href="#">Безопасность</a></li>
        <li class="submenu-footer_list"><a href="#">Соглашение</a></li>
        <li class="submenu-footer_list"><a href="#">Гарантии</a></li>
        <li class="submenu-footer_list"><img src="img/bottom_b _footer.png" alt=""></li>
      </ul></li>
      <li class="menu-footer_list"><a href="">КОНТАКТЫ</a><img src="img/arrow_footer.png" alt="">
        <ul class="submenu-footer">
        <li class="submenu-footer_list"><a href="#">office@any.cash</a></li>
        <li class="submenu-footer_list"><a href="#">+380504345568</a></li>
        <li class="submenu-footer_list"><img src="img/bottom_b _footer.png" alt=""></li>
      </ul></li>
      <li class="menu-footer_list"><img src="img/arrow_footer.png" alt="">
        <ul class="submenu-footer footer-networks">
        <li class="submenu-footer_list"><a href="#"><img src="img/vk_nav.png" alt="" /></a></li>
        <li class="submenu-footer_list"><a href="#"><img src="img/fb_nav.png" alt="" /></a></li>
        <li class="submenu-footer_list"><a href="#"><img src="img/twi_nav.png" alt="" /></a></li>
        <li class="submenu-footer_list"><a href="#"><img src="img/google_nav.png" alt="" /></a></li>
      </ul></li>
    </ul>
    <div class="menu-footer-mob">
      <div class="support_and_conditions"><span class="support">Поддержка</span><img src="img/arrow_footer.png" alt=""><span class="conditions">Условия</span></div>
      <div class="submenu_container">
        <ul class="submenu-mob mob_support">
          <li class="submenu-mob_list"><a href="#">Тикеты</a></li>
          <li class="submenu-mob_list"><a href="#">Вопросы и ответы</a></li>
          <li class="submenu-mob_list"><a href="#">Инструкция</a></li>
        </ul>
        <ul class="submenu-mob mob_conditions">
          <li class="submenu-mob_list"><a href="#">Безопасность</a></li>
          <li class="submenu-mob_list"><a href="#">Соглашение</a></li>
          <li class="submenu-mob_list"><a href="#">Гарантии</a></li>
        </ul>
      </div>
      <div class="projects_and_networks"><span class="projects">Проекты</span><img src="img/arrow_footer.png" alt=""><span class="networks">Соцсети</span></div>
      <div class="submenu_container">
        <ul class="submenu-mob mob_projects">
          <li class="submenu-mob_list"><a href="#">Платежная система</a></li>
          <li class="submenu-mob_list"><a href="#">Обмен валют</a></li>
          <li class="submenu-mob_list"><a href="#">Гарант сделок</a></li>
          <li class="submenu-mob_list"><a href="#">Оплата сервисов</a></li>
          <li class="submenu-mob_list"><a href="#">Депозиты</a></li>
        </ul>
        <ul class="submenu-mob mob_networks">
          <li class="submenu-mob_list"><a href="#">Facebook</a></li>
          <li class="submenu-mob_list"><a href="#">Twitter</a></li>
          <li class="submenu-mob_list"><a href="#">Vkontakte</a></li>
          <li class="submenu-mob_list"><a href="#">Google</a></li>
        </ul>
      </div>
      <div class="contacts"><img src="img/arrow_footer.png" alt="" class="contact_arrow_left"><span>Контакты</span><img src="img/arrow_footer.png" alt="" class="contact_arrow_right"></div>
        <ul class="submenu-mob mob_contacts">
          <li class="submenu-mob_list"><a href="#">office@any.cash</a></li>
          <li class="submenu-mob_list"><a href="#">+380504345568</a></li>
        </ul>
    </div>
  </nav>
</footer>
