<section class="how_it_works">

</section>
<div class="tell_about_us">РАССКАЖИТЕ О НАС
  <span class="tell vk"></span>
  <span class="tell fb"></span>
  <span class="tell twitter"></span>
  <span class="tell google_plus"></span>
</div>
<footer>
  <nav>
    <ul class="menu-footer">
      <li class="menu-footer_list"><a href="">ПОДДЕРЖКА
        <ul class="submenu-footer">
        <li class="submenu-footer_list"><a href="#">Тикеты</a></li>
        <li class="submenu-footer_list"><a href="#">Вопросы и ответы</a></li>
        <li class="submenu-footer_list"><a href="#">Инструкция</a></li>
      </ul></li>
      <li class="menu-footer_list"><a href="">ПРОЕКТЫ</a>
        <ul class="submenu-footer">
        <li class="submenu-footer_list"><a href="#">Обмен валют</a></li>
        <li class="submenu-footer_list"><a href="#">Гарант сделок</a></li>
        <li class="submenu-footer_list"><a href="#">Оплата сервисов</a></li>
        <li class="submenu-footer_list"><a href="#">Онлайн ломбард</a></li>
        <li class="submenu-footer_list"><a href="#">База знаний</a></li>
      </ul></li>
      <li class="menu-footer_list"><a href="">КЛИЕНТАМ</a>
        <ul class="submenu-footer">
        <li class="submenu-footer_list"><a href="#">Депозитная программа</a></li>
        <li class="submenu-footer_list"><a href="#">Партнерство</a></li>
        <li class="submenu-footer_list"><a href="#">Бонусная система</a></li>
      </ul></li>
      <li class="menu-footer_list"><a href="">УСЛОВИЯ</a>
        <ul class="submenu-footer">
        <li class="submenu-footer_list"><a href="#">Безопасность</a></li>
        <li class="submenu-footer_list"><a href="#">Соглашение</a></li>
        <li class="submenu-footer_list"><a href="#">Гарантии</a></li>
      </ul></li>
      <li class="menu-footer_list"><a href="">КОНТАКТЫ</a>
        <ul class="submenu-footer">
        <li class="submenu-footer_list"><a href="#">office@any.cash</a></li>
        <li class="submenu-footer_list"><a href="#">+380504345568</a></li>
      </ul></li>
      <li class="menu-footer_list">
        <ul class="submenu-footer">
        <li class="submenu-footer_list"><a href="#"></a></li>
        <li class="submenu-footer_list"><a href="#"></a></li>
        <li class="submenu-footer_list"><a href="#"></a></li>
        <li class="submenu-footer_list"><a href="#"></a></li>
      </ul></li>
    </ul>
  </nav>
</footer>
