<div class="news_and_knowledge">
  <section class="news">
    <img src="img/border_.png" alt="" class="news_border_heading">
    <h3 class="news_heading">Новости проекта</h3>
    <img src="img/news.png" alt="" class="news_cover">
    <p class="news_text">
      Вдруг это какая-то новая разновидность баобаба? Но кустик быстро перстал тянуться ввысь, и на нем появился бутон. Маленький принц никогда еще не видел таких еще не видел таких огромных бутонов.
    </p>
    <a href=""><span class="more more-news">Далее &gt;&gt;</span></a>
    <div class="arrow left"><a href="">&lt;</a></div>
    <div class="arrow right"><a href="#">&gt;</a></div>
  </section>
  <section class="knowledge">
    <img src="img/border_.png" alt="" class="knowledge_border_heading">
    <h3 class="knowledge_heading">База знаний</h3>
    <img src="img/knowledge.png" alt="" class="knowledge_cover">
  <p class="knowledge_text">Вдруг это какая-то новая разновидность баобаба? Но кустик быстро перстал тянуться ввысь, и на нем появился бутон. Маленький принц никогда еще не видел таких еще не видел таких огромных бутонов.
  </p>
  <a href=""><span class="more more-knowledge">Далее&gt;&gt;</span></a>
  <div class="arrow left"><a href="">&lt;</a></div>
  <div class="arrow right"><a href="#">&gt;</a></div>
</section>
</div>
<section class="exchange_direction">
  <img src="img/border.png" alt="" class="direction_border_upper">
  <h2 class="exch_dir_heading_desk">Наши направления обмена с:</h2>
  <div class="directions">
    <div class="directions_map">
      <img src="img/directions_map.png" alt="">
    </div>
    <div class="exch_dir_heading"><span class="exch_dir_heading_2">Наши направления обмена<span class="heading_expand"><a href="">&gt;&gt;</a></span></span>
      <ul class="directions_list">
        <li class="direction_item w1"><a href="#">W <span>1</span></a></li>
        <li class="direction_item perfect_m"><a href="#">Perfect Money</a></li>
        <li class="direction_item btc-e"><a href="#">BTC-E</a></li>
        <li class="direction_item exmo"><a href="#">EXMO</a></li>
        <li class="direction_item payeer"><a href="#">Payeer</a></li>
        <li class="direction_item litecoin"><a href="#">Litecoin</a></li>
        <li class="direction_item qiwi"><a href="#">QIWI</a></li>
        <li class="direction_item paymer"><a href="#">Paymer</a></li>
        <li class="direction_item bitcoin"><a href="#">Bitcoin</a></li>
        <li class="direction_item yandex_m"><a href="#">Яндекс.Деньги</a></li>
        <li class="direction_item adv_cash"><a href="#">AdvCash</a></li>
        <li class="direction_item privat_bank"><a href="#">Приват<span>24</span></a></li>
        <li class="direction_item ok_pay"><a href="#">OK PAY</a></li>
        <li class="direction_item web_money"><a href="#">WebMoney</a></li>
      </ul>
    </div>
    <img src="img/border.png" alt="" class="direction_border_bottom">
  </div>
</section>
