<div class="news_and_knowledge">
  <section class="news">
    <h3 class="news_heading">Новости проекта</h3>
    <img src="" alt="">
    <p class="news_text"></p>
    <a href=""><span class="more news">Далее >></span></a>
    <div class="arrow_left"><a href=""><</a></div>
    <div class="arrow_right"><a href="#">></a></div>
  </section>
  <section class="knowledge">
    <h3 class="knowledge_heading">База знаний</h3>
  </section>
  <img src="" alt="">
  <p class="knowledge_text"></p>
  <a href=""><span class="more knowledge">Далее >></span></a>
  <div class="arrow_left"><a href=""><</a></div>
  <div class="arrow_right"><a href="#">></a></div>
</div>
<section class="exchange_direction">
  <h2 class="exch_dir_heading">Наши направления обмена с:</h2>
  <ul class="diresction_1">
    <li><a href="#">W1</a></li>
    <li><a href="#">Perfect Money</a></li>
    <li><a href="#">BTC-E</a></li>
    <li><a href="#">EXMO</a></li>
    <li><a href="#">Payeer</a></li>
  </ul>
  <ul class="diresction_2">
    <li><a href="#">Litecoin</a></li>
    <li><a href="#">QIWI</a></li>
    <li><a href="#">Paymer</a></li>
    <li><a href="#">Bitcoin</a></li>
    <li><a href="#">Яндекс.Деньги</a></li>
  </ul>
  <ul class="diresction_3">
    <li><a href="#">AdvCash</a></li>
    <li><a href="#">Приват 24</a></li>
    <li><a href="#">OK PAY</a></li>
    <li><a href="#">WebMoney</a></li>
  </ul>
</section>
